Bonjour,

Vous avez demandé la réinitialisation de votre mot de passe pour votre compte sur le système de gestion de cantine HEG.

Cliquez sur le lien suivant pour réinitialiser votre mot de passe :
{{ protocol }}://{{ domain }}{% url 'cantine_web:password_reset_confirm' uidb64=uid token=token %}

Si vous n'avez pas demandé cette réinitialisation, ignorez simplement cet email.

Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien ci-dessus et créé un nouveau mot de passe.

Cordialement,
L'équipe HEG Cantine
